body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
    background: linear-gradient(90deg, #fafafa,#ff55b2);

}

.calculator {
    text-align: center;
    height: 450px;
    width: 300px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate();
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top{
    height: 20%;
}
